services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - postgres
    env_file:
      - .env
    environment:
      - WATCH_MODE
    ports:
      - ${ROOT_PORT}:8000
    develop:
      watch:
        - action: sync
          path: ./src
          target: /project/src

  postgres:
    image: postgres:17
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
